 
/*
@media screen and (max-width: 600px) {

  .container-nav{
   
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (min-width: 600px) {
  

  .container-nav {
   
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media only screen and (min-width: 768px) {

  .container-nav {
   
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media only screen and (min-width: 992px) {

  .container-nav {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  
    .container-nav {
      position: absolute;
      align-items: center;
      justify-content: center;
    }
}
 */



/*Filter styles*/
/* .saturate {
  filter: saturate(3);
}

.grayscale {
  filter: grayscale(100%);
}

.contrast {
  filter: contrast(160%);
}

.brightness {
  filter: brightness(0.25);
}

.blur {
  filter: blur(3px);
}

.invert {
  filter: invert(100%);
}

.sepia {
  filter: sepia(100%);
}

.huerotate {
  filter: hue-rotate(180deg);
}

.rss.opacity {
  filter: opacity(50%);
} */