.intro {
    position: absolute;
    max-width: 644px;
    max-height: 191px;
    left: 28px;
    top: 353px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #898888;
}

.name {
    position: absolute;
    width: 391px;
    height: 49px;
    left: 202px;
    top: 238px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.image{
    display: flex;
    background-image: url("../../assets/gelila.png");
    background-repeat: no-repeat;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
        position: absolute;
        width: 513px;
        height: 813px;
        left: 710px;
        top: 116px;
}