.App{
  margin-top: 0;
}



.App-header {
  display: flex;
  margin: 0;
  background-color: #FFF8FF;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}



.Path_1 {
  overflow: visible;
  position: absolute;
  width: 44.927px;
  height: 47.959px;
  left: 1.937px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_2 {
  fill: transparent;
  stroke: rgba(111, 18, 18, 1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_2 {
  overflow: visible;
  position: absolute;
  width: 4.982px;
  height: 19.751px;
  left: 29.564px;
  top: 43.816px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#about_me__ {
  transition: transform .5s ease;
  top: 9px;
  position: relative;
  justify-content: space-around;
  margin: 10px;
  overflow: visible;
  width: 104px;
  white-space: nowrap;
  text-align:center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(112, 112, 112, 1);
  text-transform: uppercase;
}

#about_me__:hover{
  transform: scale(1.1);
  overflow: hidden;
  cursor: pointer;
}

