body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: color-change-4x 6s linear infinite alternate both;
    animation: color-change-4x 6s linear infinite alternate both;
}
@keyframes color-change-4x {
  0% {
    background: #FFF8FF;
  }

  66.676% {
    background: #dacbcb;
  }

  100% {
    background: #dfd09f;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
